In [2]:
x = 1
print(x, type(x))

1 <class 'int'>

In [3]:
y = 2.8
print(y, type(y))

2.8 <class 'float'>

In [4]:
z = 1 + 3j
print(z, type(z))

(1+3j) <class 'complex'>

In [5]:
a = True
b = False
c = 3 > 4
print(a, type(a))
print(b , type(b))
print(c, type(c))

True <class 'bool'>
False <class 'bool'>
False <class 'bool'>

In [11]:
d = bool(0)
e = bool(0.0)
f = bool('')

print(d, type(d))
print(e, type(e))
print(f, type(f))

False <class 'bool'>
False <class 'bool'>
False <class 'bool'>

In [12]:
g = bool(2)
h = bool(1.0)
i = bool('a')

print(g, type(g))
print(h, type(h))
print(i, type(i))

True <class 'bool'>
True <class 'bool'>
True <class 'bool'>

In [13]:
a = 'hello'
b = "world"
print(a, type(a))
print(b, type(b))

hello <class 'str'>
world <class 'str'>

In [14]:
c = '''My name
is Jung''' 
print(c, type(c))

My name
is Jung <class 'str'>

In [17]:
d = '"python"'
print(d)

"python"

In [18]:
e = '"python"'
print(e)

"python"

In [20]:
f = 'dongyang'
print(f[0], f[1], f[2])

d o n

In [21]:
g = 'computer'
for char in g : 
    print(char)

c
o
m
p
u
t
e
r

In [22]:
h = 'a'
print(h[0])

a

In [24]:
a = [10, 20, 30]
print(a, type(a))

[10, 20, 30] <class 'list'>

In [25]:
b = [1, 3.92, 3 > 5, 'dongyang']
print(b, type(b))

[1, 3.92, False, 'dongyang'] <class 'list'>

In [28]:
c = [1, 3.92, 3> 5, 'dongyang']
print(c[0], c[1] ,c[2], c[3])

1 3.92 False dongyang

In [30]:
d = [1, 3.92, 3>5, 'dongyang']
for item in d : 
    print(item)

1
3.92
False
dongyang

In [32]:
e = [10, 'python', 'java']
print('변경전 : ', e)

e[0]= 'C#'
print('변경 후 : ', e)

변경전 :  [10, 'python', 'java']
변경 후 :  ['C#', 'python', 'java']

In [34]:
 a = (10, 20 , 30)
print(a, type(a))

(10, 20, 30) <class 'tuple'>

In [35]:
b = 10, 20, 30
print(b, type(b))

(10, 20, 30) <class 'tuple'>

In [36]:
c = (10, 3 > 5 , 'computer')
print(c, type(c))

(10, False, 'computer') <class 'tuple'>

In [37]:
c = (10, 3> 5, 'computer')
print(c[0], c[1], c[2])

10 False computer

In [39]:
c = (10, 3>5, 'computer')
for item in c : 
    print(item)

10
False
computer

In [40]:
c = (10, 3>  5, 'computer')
print('변경 전 : ', c)

c[0] = 'software'
print('변경 후 : ', c)

변경 전 :  (10, False, 'computer')

TypeError: 'tuple' object does not support item assignment

In [41]:
mart = {'라면' : 1200, '음료수' : 1500, '과자' : 800}
print(mart, type(mart))

{'라면': 1200, '음료수': 1500, '과자': 800} <class 'dict'>

In [43]:
mart = {'라면' : 1200, '음료수' : 1500, '과자' : 800}

print(mart['음료수'], mart['과자'])

1500 800

In [65]:
mart = {'라면' : 1200, '음료수' : 1500, '과자' : 800}

mart['음료수'] = 5000
print(mart)

{'라면': 1200, '음료수': 5000, '과자': 800}

In [45]:
mart = {'라면' : 1200, '음료수' : 1500, '과자' : 800}
print('키와 값 추가 전', mart)

mart['삼각김밥'] = 1700
print('키와 값 추가 후 : ', mart)

키와 값 추가 전 {'라면': 1200, '음료수': 1500, '과자': 800}
키와 값 추가 후 :  {'라면': 1200, '음료수': 1500, '과자': 800, '삼각김밥': 1700}

In [47]:
mart = {'라면': 1200, '음료수' : 1500, '과자': 800}

print(mart.keys())
print(mart.values())
print(mart.items())

dict_keys(['라면', '음료수', '과자'])
dict_values([1200, 1500, 800])
dict_items([('라면', 1200), ('음료수', 1500), ('과자', 800)])

In [48]:
mart = {'라면' :1200, '음료수' : 1500, '과자' : 800}

for key in mart.keys() : 
    print(key)

라면
음료수
과자

In [49]:
mart = {'라면' : 1200, '음료수':1500, '과자':800}

for v in mart.values() : 
    print(v)

1200
1500
800

In [52]:
for 항목, 값 in mart.items() : 
    print(항목, 값)

라면 1200
음료수 1500
과자 800

In [53]:
print('키와 값 추가 전 : ', mart)

mart[('삼각김밥', '단무지')] = 1700
print('키와 값 추가 후 : ',mart)

키와 값 추가 전 :  {'라면': 1200, '음료수': 1500, '과자': 800}
키와 값 추가 후 :  {'라면': 1200, '음료수': 1500, '과자': 800, ('삼각김밥', '단무지'): 1700}

In [54]:
basket = {'사과', '오렌지', '사과', '배'}
print(basket, type(basket))

{'오렌지', '사과', '배'} <class 'set'>

In [56]:
print(basket[0])

TypeError: 'set' object is not subscriptable

In [58]:
basket = {'사과', '오렌지', '배'}
print(f'항목 추가 전: {basket}')

basket.add(('딸기', '바나나'))
print(f'항목 추가 후 : {basket}')

항목 추가 전: {'오렌지', '사과', '배'}
항목 추가 후 : {'오렌지', ('딸기', '바나나'), '사과', '배'}

In [64]:
A = {1,2,3,4}
B = {3,4,5,6}
print(A | B)
print(A & B)
print(A - B)
print(A ^ B)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [63]:
print(id(x))
x= x + 500
print(id(x))

1777248604304
1777248604400

In [66]:
a , b = 10, 20 
print(a, b)

10 20

In [67]:
num = int(7)

print(num, id(num), type(num))

7 140728322435704 <class 'int'>

In [68]:
num = 7 
print(id(num))

num = num + 1
print(id(num))

140728322435704
140728322435736

In [69]:
a = b = 10
print(id(a), id(b))

a = a+1
print(id(a), id(b))

140728322435800 140728322435800
140728322435832 140728322435800

In [70]:
x = 300
y = 300

print(id(x), id(y))s

1777248604848 1777248604624

###Lecture 1 : 표준입력과 표준 출력

In [109]:
width = float(input("실수로 가로 길이 입력  >> "))
height = int(input("정수로 세로 길이 입력 >> "))
print("가로 : ", width)
print("세로 : ", height)

area = height * width
print("삼각형 넓이는 : ", area/2);
print("사각형 넓이는 : ", area);

실수로 가로 길이 입력  >>  3
정수로 세로 길이 입력 >>  4

가로 :  3.0
세로 :  4
삼각형 넓이는 :  6.0
사각형 넓이는 :  12.0

In [78]:
width, height = 3, 6
print('가로 : {}, 세로 : {}, 면적 : {}'.format(width, height, width *height))

가로 : 3, 세로 : 6, 면적 : 18

In [98]:
mile = float(input("마일을 입력하시오 >>"))
kil = mile * 1.6

print('{}은 {}킬로미터입니다.'.format(mile, kil))

마일을 입력하시오 >> 80

80.0은 128.0킬로미터입니다.

In [111]:
width, height = 3, 6

print('가로 : {}, 세로 : {}, 사각형 면적 : {}'.format(width, height, width*height))

print('가로 : {0}, 세로 : {1}, 사각형면적 : {2}'.format(width, height, width*height))
print('가로 : {w}, 세로 : {h}, 사각형 면적 : {area}'.format(w = width, h = height, area =  width*height))

pi, radius = 3.14, 5.78
print(f'반지름 : {radius}, 원면적 : {radius*radius*pi}')
print(f'반지름 : {radius}, 원둘레 : {2*pi*radius}')

가로 : 3, 세로 : 6, 사각형 면적 : 18
가로 : 3, 세로 : 6, 사각형면적 : 18
가로 : 3, 세로 : 6, 사각형 면적 : 18
반지름 : 5.78, 원면적 : 104.902376
반지름 : 5.78, 원둘레 : 36.2984

In [110]:
import math

print('math.pi : {:.4f} math.e : {:.4f}'.format(math.pi, math.e))

radius = float(input("원의 반지름 입력 : "))

area = math.pi *radius **2
print(f"원의 둘레는 {2*math.pi*radius : 10.2f}입니다.")
print(f"원의 넓이는 {area: 10.2f}입니다.")

math.pi : 3.1416 math.e : 2.7183

원의 반지름 입력 :  5

원의 둘레는      31.42입니다.
원의 넓이는      78.54입니다.