In [6]:
def c_to_fahrenheit(celsuus) : 
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def f_to_celsius(fahrenheit) : 
    celsius = (fahrenheit -32) * 5/9
    return celsius

celsius = float(input("섭씨온도를 입력하세요 : "))
fahrenheit = c_to_fahrenheit(celsius)

print(f"{celsius}도는 화씨로 {fahrenheit:.2f}도 입니다.")

fahrenheit = float(input("화씨 온도를 입력하세요 : "))

celsius = f_to_celsius(fahrenheit)

print(f"{fahrenheit}도는 화씨로 {celsius:.2f}도 입니다.")

섭씨온도를 입력하세요 :  3

3.0도는 화씨로 37.40도 입니다.

화씨 온도를 입력하세요 :  4

4.0도는 화씨로 -15.56도 입니다.

In [7]:
add1 = lambda x : x+1
add2 = lambda x, y : x + y
mult2 = lambda x, y : x*y

a, b = 10, 5
print(f'{a} + {1} -> {add1(a)}')
print(f'{a} + {b} -> {add2(a, b)}')
print(f'{a} * {b} -> {mult2(a, b)}')

10 + 1 -> 11
10 + 5 -> 15
10 * 5 -> 50

In [8]:
lst = [2,3,4,5]
new_lst = map(lambda x : x+ 1, lst)
print(list(new_lst))

[3, 4, 5, 6]

In [30]:
data = input("숫자 열을 입력하세요 : ")
print(data, type(data))

my_data = []
for item in data.split() : 
    print(item, type(item))
    my_data.append(int(item))
    print(my_data, type(my_data[0]))

data  = list(map(int, input("숫자 열을 입력하세요 ").split()))
print(data, type(data[0]))

숫자 열을 입력하세요 :  3 4 5 6

3 4 5 6 <class 'str'>
3 <class 'str'>
[3] <class 'int'>
4 <class 'str'>
[3, 4] <class 'int'>
5 <class 'str'>
[3, 4, 5] <class 'int'>
6 <class 'str'>
[3, 4, 5, 6] <class 'int'>

숫자 열을 입력하세요  1 2 7 8

[1, 2, 7, 8] <class 'int'>

In [19]:
lst = [1,2,3,4,5,6,7,8,9,10]
my_lst = filter(lambda x : x%2 == 0, lst)
print(list(my_lst))

[2, 4, 6, 8, 10]

In [20]:
def square(x) : 
    return x**2

numbers = [1, 2, 3,4,5]
squared_numbers = map(square, numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [21]:
in1 = [1,3,5,7]
in2 = [2,4,6,8]

pr =list(map(lambda x, y : x+y, in1, in2))

print(pr)

[3, 7, 11, 15]

In [29]:
in3 = [1, 2, 3, 4]
in4 = [5, 6, 7, 8]

la = list(map(lambda a, b : a + b, in3, in4))
print(la)

[6, 8, 10, 12]

In [33]:
data = list(map(int, input("숫자입력").split()))
print(data)

숫자입력 1 2 3 4

[1, 2, 3, 4]

In [37]:
lst = [1,2,3,4,5,6,7,8,9,10]
my_list2 = filter(lambda x : x%5 == 0, lst)

print(list(my_list2))

[5, 10]

In [39]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [40]:
abs(-7)

7

In [41]:
pow(2, 4)

16

round(3.141592, 3)

In [42]:
divmod(20, 6)

(3, 2)

In [43]:
min([3.4, 5, 2])

2

In [44]:
max((3.4, 5, 2))

5

In [45]:
sum((1,2,3))

6

In [47]:
sum([1,2,3])

6

In [48]:
bin(20)

'0b10100'

In [49]:
sorted([5,3,9,6])

[3, 5, 6, 9]

In [50]:
all([3, 5>3, 'py' in 'python', 3%2])

True

In [52]:
any([0, 10 >= 1,  ''])

True

In [54]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

In [60]:
def celsius_to_fahrebheit(celsius) : 
    return(ceksius * 9/5) + 32

def kilometers_to_miles(kilometers) : 
    return kilometers * 0.621371

def pounds_to_kilograms(pounds) : 
    return pounds * 0.453592

print("다음 중 원하는 변환을 선택하세요 : ")
print("1. 섭씨를 화씨로 변환")
print("2. 킬로미터를 마일로 변환 " )
print("3. 파운드를 킬로그램으로 변환")

choice = int(input("\n 번호를 출력하시오"))

if 1 <= choice <= 3 :
    input_value = float(input("변환할 값을 입력하시오 : "))
    result = 0
    if choice == 1 : 
        result = celsius_to_fahrenheit(input_value)
    elif choice == 2 : 
        result = kilometers_to_miles(input_value)
    elif choice == 3 : 
        result = pounds_to_kilograms(input_value)
    print(f"변환 결과 : {result:.2f}")
else :
    print("올바른 번호를 선택하시오")

다음 중 원하는 변환을 선택하세요 :
1. 섭씨를 화씨로 변환
2. 킬로미터를 마일로 변환
3. 파운드를 킬로그램으로 변환

 번호를 출력하시오 3
변환할 값을 입력하시오 :  4

변환 결과 : 1.81

In [75]:
input_1 = int(input("정수1의 값을 입력하세요 :  "))
input_2 = int(input("정수2의 값을 입력하세요 :  "))
input_3 = int(input("정수3의 값을 입력하세요 :  "))

max1 = input_1
max1 = input_1 if max1 > input_2 else input_2

max1 = max1 if max1 > input_3 else input_3

print(max1)

정수1의 값을 입력하세요 :   3
정수2의 값을 입력하세요 :   1
정수3의 값을 입력하세요 :   2

3

In [83]:
num_1 = int(input("정수1의 값을 입력하세요 :  "))
num_2 = int(input("정수2의 값을 입력하세요 :  "))
num_3 = int(input("정수3의 값을 입력하세요 :  "))
             
max2 = 0

def my_max(n1, n2, n3) : 
    max2 = n1
    max2 = n1 if max2 > n2 else n2
    max2 = max2 if max2 > n3 else n3
    return max2

result = my_max(num_1, num_2, num_3)
print(result)

정수1의 값을 입력하세요 :   4
정수2의 값을 입력하세요 :   3
정수3의 값을 입력하세요 :   2

4

In [89]:
s = 0 
for num in range(2, 21) : 
    if num%3 == 0 : 
        s += num
print(f'\n 합은{s}')

 합은63

In [93]:
while True : 
    user_input = int(input("1- 10사이 정수 입력(-1입력시 종료) >> "))

    if user_input == -1 : 
        break 

    if user_input < 1 or user_input > 10 : 
        print("1부터 10까지의 숫자를 입력하시오.")
        continue

    if user_input % 2 == 0 : 
        print(f'{user_input}는 짝수입니다.')

    else  : 
        continue

1- 10사이 정수 입력(-1입력시 종료) >>  1
1- 10사이 정수 입력(-1입력시 종료) >>  2

2는 짝수입니다.

1- 10사이 정수 입력(-1입력시 종료) >>  3
1- 10사이 정수 입력(-1입력시 종료) >>  -1